@media screen and (min-width: 350px){
body#homepage {
    background-color: rgba(223, 235, 239, 0.408);
}

body#highschool {
    background-color: rgba(196, 238, 196, 0.374);
}

body#college {
    background-color: rgba(238, 238, 186, 0.302);
}

nav li{
	padding: 8px;
	display: inline;
    font-size: 14px;
}

nav li a {
    text-decoration: none;
    font-family: 'Lucida Grande', "monospace";
}

.nav-bar {
    position: relative;
    top: 0;
}
.skip {
    transform: translateY(-100%);
    background-color: white;
  }
  
.skip:focus-within {
    transform: translateY(0%);
    background-color: white;
  }

.active {
    color: #000;
    text-decoration: underline;
    font-size: 24px;
}
.linkedin {
    padding-left: 16px;
    margin-left: 10px;
}
.intro {
    float: left;
    padding: 8px 8px 8px 8px;
    margin: 10px;
}

.intro:hover {
    transform: scale(1.5)
}

.intro2 {
    float: right;
    padding: 8px 8px 8px 8px;
    margin: 10px;
}

.intro2:hover {
    transform: scale(1.5) 
}

body {
    margin: 0px;
}

h1 {
    font-size: 36px;
    font-family: 'Lucida Grande', "monospace";
    padding: 12px;
    text-decoration: underline;
    text-align: center;
    margin: 12px;
}

p { 
    font-family: 'Lucida Grande', "monospace";
    margin: 8px;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}

h2{
    font-size: 24px;
    font-family: "Lucida Grande", "monospace";
    padding: 12px;
    text-align: center;
}

h3{
    font-size: 18px;
    font-family: "Lucida Grande", "monospace";
    padding: 12px;
    text-align: center;
}

#footer {
    position: relative;
    bottom: 0;
    padding-left: 16px;
    margin-left: 10px;
  }

header{
    background-color: white;
    padding: 10px;
}

div.hs {
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: auto auto;
    background-color: rgba(196, 238, 196, 0.374);
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 120%;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10 {
    width: 80%;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover, .img9:hover, .img10:hover {
    width: 80%;
    transform: scale(2);
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover, .image6:hover, .image7:hover, .image8:hover, .image9:hover {
    transform: scale(2);
}

div.college {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
}

@media screen and (min-width: 776px){
    div.hs {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;
        justify-content: center;
        justify-items: center;
        align-items: start;
        margin: 0px;
        padding: 0px;
    }

    .img10 {
        grid-column: 2;
        grid-row: 4;
    }
    
    div.college {
        display: flex;
        flex-basis: 50%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1120px){
    div.college {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }


div.hs {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
    padding: auto;
    margin: auto;
}

.img7 {
    grid-column: 2;
    grid-row: 2;
}

.img8 {
    grid-column: 3;
    grid-row: 2;
}

.img9 {
    grid-column: 4;
    grid-row: 2; 
}

.img10 {
    grid-column: 5;
    grid-row: 2;
}
}